In [ ]:
#Load modules
import sys
import os
import json
import csv
from datetime import date
from glob import glob
import pandas as pd

In [28]:
root_dir = ""
rows_list = []
for schema in glob("../types/**/*.schema.json", recursive = True):
    manufacturer = schema.split(os.sep)[2]
    dt = schema.split(os.sep)[3]
    topic = schema.split(os.sep)[4].split(".schema.json")[0]
    with open(schema) as f:
        dt_schema = json.load(f)
        n_data_keys = len(dt_schema["properties"].keys())
        rows_list.append({"n_data_keys": n_data_keys, "manufacturer": manufacturer, "device_type": dt, "topic": topic, "device_type_id": manufacturer + "." + dt})

df = pd.DataFrame(rows_list)
df.describe()

       n_data_keys
count   805.000000
mean      6.352795
std      11.830783
min       1.000000
25%       2.000000
50%       3.000000
75%       7.000000
max     145.000000

In [29]:
df.sort_values(by=["n_data_keys"], ascending=False)

,n_data_keys,manufacturer,device_type,topic,device_type_id
195,145,tektelic,smartRoomPIRV3_1,system,tektelic.smartRoomPIRV3_1
519,64,elsys,eiaqd10,configuration,elsys.eiaqd10
558,64,elsys,ems-door,configuration,elsys.ems-door
529,64,elsys,ers-lite,configuration,elsys.ers-lite
526,64,elsys,elt-lite,configuration,elsys.elt-lite
...,...,...,...,...,...
647,1,milesight,EM500-SWL,lifecycle,milesight.EM500-SWL
258,1,talkpool,oy1700,startup,talkpool.oy1700
649,1,milesight,TS101,lifecycle,milesight.TS101
249,1,xovis,PC2SV5,zone,xovis.PC2SV5
0,1,abeeway,compactTracker,activity_status,abeeway.compactTracker

In [30]:
df_agg_by_dt = df.groupby('device_type_id')['n_data_keys'].mean()
df_agg_by_dt.describe()

count    240.000000
mean       6.154586
std        6.685799
min        1.000000
25%        2.500000
50%        3.583333
75%        6.616667
max       38.500000
Name: n_data_keys, dtype: float64

In [31]:
df_agg_by_dt.sort_values(ascending=False)

device_type_id
astraled.airQualityLuminary_V0_03    38.50
astraled.airQualityLuminary_V0_02    34.00
astraled.mantis                      34.00
tektelic.smartRoomPIRV3_1            30.60
watecco.bob                          28.25
                                     ...
milesight.EM500-SWL                   1.00
milesight.EM500-PP                    1.00
milesight.EM500-LGT                   1.00
milesight.EM300-MLD                   1.00
yanzi.presenceMini                    1.00
Name: n_data_keys, Length: 240, dtype: float64

In [32]:
df_agg_by_dt_topics = df.groupby('device_type_id')['topic'].count()
df_agg_by_dt_topics.describe()

count    240.000000
mean       3.354167
std        2.904978
min        1.000000
25%        2.000000
50%        2.000000
75%        4.000000
max       35.000000
Name: topic, dtype: float64

In [33]:
df_agg_by_dt_topics.sort_values(ascending=False)

device_type_id
comtac.Cluey                     35
haltian.thingseeAir              12
haltian.thingseeEnvironment      11
myDevices.cayenne                10
abeeway.badgeTracker             10
                                 ..
seeed.senseCAPSoilTemperature     1
mclimate.floodSensor              1
mclimate.co2                      1
mclimate.button                   1
internal.deviceSimulator          1
Name: topic, Length: 240, dtype: int64